body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
}
h1,
h2 {
  color: #ffffff;
}
article {
  background-color: #1e1e1e;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
}
button {
  background-color: #6200ea;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #3700b3;
}
.comments {
  margin-top: 10px;
}
textarea {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #6200ea;
  background-color: #1e1e1e;
  color: #ffffff;
}
